*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
    color: blueviolet;
  }
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  button{
    min-width: 100px;
    font-size: large;
    font-weight: 400;
    padding: .8rem;
    outline: 1.5px solid blueviolet;
    /* border: 1px white; */
    margin: 20px;
    border-radius: .5rem;
  }
  button:hover{
    outline: 2px solid blue;
  }
  button.active{
    background-color: coral;
  }
  /* Section Wise CSS */
  .sec{
    width: 70%;
    min-height: 150px;
    text-align: center;
    margin-top: 2rem;
    border-bottom: 2px solid rebeccapurple;
  }
  .code-no{
    text-align: start;
    font-style: italic;
    margin-bottom: 1.2rem;
  }
  
  /* Album Design */
  .frame{
    width: 500px;
    height: 300px;
    border: 2px solid palevioletred;
    border-radius: 1rem;
    align-items: center;
    margin: 0 auto;
  }
  .frame img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border: 4px solid blueviolet;
    border-radius: 1rem;
  
  }
  